@import "tailwindcss";

@theme {
  --color-gym-yellow: #FACC15; 
  --color-gym-black: #0A0A0A;
  --color-gym-dark: #171717; 
}

body {
    @apply bg-gym-black text-gray-100 font-sans;
    scroll-behavior: smooth;
}